<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Solution</title>
    <script type="importmap"></script>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link href="~/css/output.css" rel="stylesheet" />
    <link rel="stylesheet" href="~/Solution.styles.css" asp-append-version="true" />
    @* <script src="~/js/site.bundle.js"></script> *@
</head>
<body class="p-1">
<header>
   @Html.Partial("_header/_header")
</header>
@Html.Partial("_menu/_mainMenu")
@Html.Partial("_menu/_menuFilter")
<div class="container">
    <main role="main">
        @RenderBody()
       
    </main>
</div>

<footer>
    @Html.Partial("_footer/_footer")
</footer>
@await RenderSectionAsync("Scripts", required: false)
<script src="https://unpkg.com/lucide@latest"></script>
<script>
  lucide.createIcons();
</script>


</body>
</html>
